# Ignore unnecessary stuff
node_modules
.env
.git
.gitignore
Dockerfile
docker-compose.yml
.vscode
*.log
npm-debug.log
yarn-error.log
.next
coverage
.env.local
.env.development
.env.production


env/
__pycache__/
*.pyc
*.sqlite3
db.sqlite3

